<h1>Log In</h1>
<%= form_for :login do |f| %>
<div class="form-group">
  <div class="form-control">
    <%= f.label :email %>
    <%= f.text_field :email, autofocus: true %>
  </div>
  <div class="form-control">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "Log In", class: "btn btn-primary" %>
  </div>
</div>
<% end %>

<p><%= link_to "Забыл пароль?", forgot_password_url %></p>