<h2><%= @article.header %></h2>
<p><%= @article.body %></p>
<div <%= 'hidden' if current_user.nil? %> >
  <span><%= @article.reaction.where(kind: 'like').count %></span>
  <i onclick="change_reaction(this)" class="mr-a-l like-button fa fa-thumbs-up" id="like" data-href="<%= like_article_path %>"></i>
  <span><%= @article.reaction.where(kind: 'dislike').count %></span>
  <i onclick="change_reaction(this)" class="mr-a-l like-button fa fa-thumbs-down" id="dislike" data-href="<%= dislike_article_path %>"></i>
</div>
<script>
 var  reaction = "<%= @article.reaction.find_by(user: current_user).kind if @article.reaction.find_by(user: current_user) %>";
  if(reaction == 'like') {
    set_reaction(document.getElementById('like'));
  } else if(reaction == 'dislike') {
    set_reaction(document.getElementById('dislike'));
  } else {
    document.querySelectorAll('i').forEach(element => {
      element.classList.remove('red-col')
    });
  }
  function set_reaction(el) {
      document.querySelectorAll('i').forEach(element => {
        element.classList.remove('red-col')
      });
    el.classList.add('red-col');
  }
  function change_reaction(el) {
    let csrf = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    const requestOptions = {
      method: 'PUT',
      headers: { 'Content-Type': 'application/json', 'X-CSRF-TOKEN': csrf },
      body: JSON.stringify( {'reaction': {kind: el.id} })
  };
  fetch(el.dataset.href, requestOptions)
      .then(response => response.ok ? set_reaction(el) : false);
  }
</script>
<%= link_to "НА ГЛАВНУЮ", root_path%>
<%
=begin%>
#  <%= link_to "User posts", model %> 
<%
=end%>
